google-api-python-client

# For parsing RSS
bs4

# For running the webserver
flask
gevent

# For parsing Youtube API's published dates and duration strings
isodate

# My own variety toolkit
voussoirkit
