/*
This file contains styles that apply to all pages within YCDL, but don't
belong in common.css because they are specifically for this project.
*/
html
{
    font-family: sans-serif;
}

.header_element:hover
{
    background-color: var(--color_secondary);
}

#content_body
{
    justify-self: center;
    min-width: 200px;
    max-width: 1440px;
    width: 98%;
}
